@import '../input/input'
@import '../textarea/textarea'

.feedback-form
	text-align left
	margin-bottom 5rem
	width 18rem

	&__input
		position relative
		margin-bottom 0.75rem
		width calc(100% - 5rem)
	
	&__textarea
		margin-bottom 0.625rem

	&__button
		text-align right
		