mixin piechart(items = [])
	.piechart
		canvas.piechart__display
			.piechart__data(hidden)
				each item in items
					.piechart__data-item(data-name=item.name data-color=item.color data-value=item.value)