.news
	height 13.25rem
	border-radius 0.25rem
	overflow hidden
	font-size 0.6875rem
	width 18rem
	
	&__image
		height 100%
		float left
		width 33%
		background-image url('images/news.png')

	&__info
		height 100%
		margin-left 33%
		width 67%
		padding 1.35rem
		background _orange
		text-align left

	&__title
		font-weight 200
		color #fff
		font-size 1.75rem
		margin-bottom 0.65rem
		line-height 2rem

	&__data
		font-weight 800
		text-transform uppercase
		color #fff
		margin-bottom 0.65rem
	
	&__text
		color #fff
	
	

