.avatar
	display flex
	justify-content center
	align-items center
	width 5.875rem
	height 5.875rem
	border-radius 50%
	background _lightgrey

	&__img
		width 5.25rem
		height 5.25rem
		border-radius 50%