.avatar
	display flex
	justify-content center
	align-items center
	width 5.875rem
	height 5.875rem
	border-radius 50%
	background _lightgrey

	&__img
		width 84px
		height 84px
		border-radius 50%