@import './colors.styl'

@font-face
  font-family: 'Lato'
  src: url('../../fonts/lato-black.eot')
  src: url('../../fonts/lato-black.eot') format('embedded-opentype'),
          url('../../fonts/lato-black.woff2') format('woff2'),
          url('../../fonts/lato-black.woff') format('woff'),
          url('../../fonts/lato-black.ttf') format('truetype')
		font-weight 800
		font-style normal

@font-face
  font-family: 'Lato'
  src: url('../../fonts/lato-bold.eot')
  src: url('../../fonts/lato-bold.eot') format('embedded-opentype'),
          url('../../fonts/lato-bold.woff2') format('woff2'),
          url('../../fonts/lato-bold.woff') format('woff'),
          url('../../fonts/lato-bold.ttf') format('truetype')
		font-weight bold
		font-style normal

@font-face
  font-family: 'Lato'
  src: url('../../fonts/lato-light.eot')
  src: url('../../fonts/lato-light.eot') format('embedded-opentype'),
          url('../../fonts/lato-light.woff2') format('woff2'),
          url('../../fonts/lato-light.woff') format('woff'),
          url('../../fonts/lato-light.ttf') format('truetype')
		font-weight 200
		font-style normal

@font-face
  font-family: 'Lato'
  src: url('../../fonts/lato-regular.eot')
  src: url('../../fonts/lato-regular.eot') format('embedded-opentype'),
          url('../../fonts/lato-regular.woff2') format('woff2'),
          url('../../fonts/lato-regular.woff') format('woff'),
          url('../../fonts/lato-regular.ttf') format('truetype')
		font-weight normal
		font-style normal

@font-face
	font-family: 'SourceSansPro'
	src: url('../../fonts/sourcesanspro-regular.eot')
	src: url('../../fonts/sourcesanspro-regular.eot') format('embedded-opentype'),
					url('../../fonts/sourcesanspro-regular.woff2') format('woff2'),
					url('../../fonts/sourcesanspro-regular.woff') format('woff'),
					url('../../fonts/sourcesanspro-regular.ttf') format('truetype') 
	font-weight normal
	font-style normal

html
	font-family 'Lato', Arial, sans-serif
	font-size 16px
	height 100%
	@media screen and (max-width: 490px)
		font-size 12px
	@media screen and (max-width: 368px)
		font-size 10px
		
body 
	margin 0
	height 100%
* 
	box-sizing border-box
	text-decoration none

	&:focus
		outline none