.textarea
	width 100%

	&__field
		width 100%
		height auto
		min-height 5.5rem
		resize vertical
		font-family: SourceSansPro, Arial, sans-serif
		font-size: 0.875rem
		padding 0.5rem 0.8125rem
		border none
		background-color _lightgrey
		border-radius 0.2rem

		&:focus
			outline none

		&::placeholder
			color _grey

		
		