mixin textarea({name, type, placeholder, pattern, required, cols = 30, rows = 4}={})
	.textarea
		textarea.textarea__field(
			name = name
			type = type
			placeholder = placeholder
			pattern = pattern
			required = required
			cols = cols
			rows = rows
		)