include ../../blocks/block-title/block-title
include ../../blocks/button/button
include ../../blocks/arrow/arrow
include ../../blocks/percentage/percentage
include ../../blocks/piechart/piechart
include ../../blocks/slider/slider
include ../../blocks/feedback-form/feedback-form
include ../../blocks/stages/stages
include ../../blocks/toggle/toggle
include ../../blocks/tickbox/tickbox
include ../../blocks/search/search
include ../../blocks/select/select
include ../../blocks/profile/profile
include ../../blocks/news/news
include ../../blocks/event/event
include ../../blocks/map/map
include ../../blocks/calendar/calendar

doctype html
html 
	head
		meta(charset = "UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title UI-Kit
	body
		.wrapper
			+block-title('standard buttons')
			.container.container_buttons
				.container__row
					+button({size: 'small'})
					+button({})
					+button({color: 'orange'})
					+button({color: 'orange', size: 'small'})
				.container__row
					+button({size: 'small'})
					+button({})
					+button({color: 'orange'})
					+button({color: 'orange', size: 'small'})
				.container__row
					+button({size: 'small'})
					+button({})
					+button({color: 'orange'})
					+button({color: 'orange', size: 'small'})
			+block-title('arrow buttons')
			.container.container_arrows
				.container__row
					+arrow({})
					+arrow({direction: 'right'})
					+arrow({disabled:'true'})
					+arrow({direction: 'right', disabled: true})
					+arrow({})
					+arrow({direction: 'right'})
			+block-title('percentages / pie chart')
			.container.container_percentages
				.container__row
					+percentage({percent: 0})
					+percentage({percent: 38})
					+percentage({percent: 62})
					+percentage({percent: 89})
					+piechart([
						{ name: 'Darkgrey', color: '#4f4f4f', value: 300},
						{ name: 'Orange', color: '#e75735', value: 800},
						{ name: 'Green', color: '#4eb7a8', value: 900},
						{ name: 'Grey', color: '#e5e5e5', value: 1000 }
					])
			+block-title('sliders')
			.container.container_sliders
				.container__row
					+slider({tooltip: true, value: 40})
					+slider({tooltip: true,color: 'green', pips: true, filled: true, value: 75})
			+block-title('stages')
			.container.container_stages
					+stages({count: 5, current: 3})
			+block-title('form elements')
			.container.container_form-elements
				.container__col.container__col_left
					+feedback-form({})
					+block-title('search / drop down')
					+search()
					+select({options: [
						{ name: 'First Option', value: 1},
						{ name: 'Second Option', value: 2},
						{ name: 'Third Option', value: 3},
					]})
				.container__col.container__col_right
					+block-title('toggles')
					.container__row.container__row_toggles
						+toggle()
						+toggle()
					+block-title('tick boxes')
					.container__row.container__row_tickboxes
						+tickbox()
						+tickbox()
					+block-title('user profile')
					.container__row.container__row_profile
						+profile({
							src:'./images/profile1.png',
							name: 'Jonh Smith',
							job: 'ux designer'
							})
					.container__row.container__row_profile
						+profile({
							src:'./images/profile2.png',
							name: 'Sarah Brown',
							job: 'developer',
							color: 'green'
							})
			+block-title('news & events')
			.container.container_news
				.container__row
					+news({
						title:	"It's all going downhill",
						date: '24 august 2013',
						text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus doloremque iste nulla ullam ab nostrum labore quisquam eius.' })
					+event({day: '24',
						mounth:'Aug',
						title:'This is the title',
						text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit.'
						})
			+block-title('location')
			.container.container_map
				+map({info: {
					text: "Meet us!",
					address: 'Tomsk F.Lytkina18'
				}})
			.container.container__calenmess
				.container__col.container__col_left
					+block-title('calendar')
					+calendar()
				.container__col.container__col_right
					+block-title('messaging')
					
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")



				
				