@import '../../global/global.styl'

.wrapper
	max-width 709px
	margin 5rem auto 0 auto

.container 
	margin 0 auto
	width 37.125rem
	display flex
	flex-wrap wrap
	justify-content space-between
	align-items flex-start

	&__row
		display flex
		justify-content space-between
		margin-bottom 1.2rem
		flex 1 1 100%
		align-items flex-end
		width 100%
			
		&:last-of-type
			margin-bottom 0

		&_toggles
			width 8.3125rem
			margin 2.0625rem auto

		&_tickboxes
			width 3.9375rem
			margin 2.0625rem auto

	&__col
		width 50%
		
	&_buttons
		margin-top 4.4rem
		width 29.0625rem
		margin-bottom 2.8rem

	&_arrows
		margin-top 2rem
		width 26.25rem
		margin-bottom 2.875rem

	&_percentages
		margin-top 1.4rem
		margin-bottom 1.8rem
	
	&_sliders
		margin-top 2.8rem
		margin-bottom 3.5rem
	
	&_stages
		margin-top 1.475rem
		margin-bottom 3.2rem
	
	&_form-elements
		margin-top 3.25rem


@import '../../blocks/block-title/block-title'
@import '../../blocks/button/button'
@import '../../blocks/arrow/arrow'	
@import '../../blocks/percentage/percentage'
@import '../../blocks/piechart/piechart'
@import '../../blocks/slider/slider'
@import '../../blocks/feedback-form/feedback-form'	
@import '../../blocks/stages/stages'
@import '../../blocks/toggle/toggle'
@import '../../blocks/tickbox/tickbox'
@import '../../blocks/search/search'