@import '../../global/global.styl'

.wrapper
	max-width 709px
	margin 5rem auto 0 auto

.container 
	margin 0 auto
	width 37.125rem
	display flex
	flex-wrap wrap
	justify-content center
	align-items flex-end

	&__row
		display flex
		justify-content space-between
		margin-bottom 1.2rem
		flex 1 1 100%
		align-items flex-end
			
		&:last-of-type
			margin-bottom 0

	&_buttons
		margin-top 4.4rem
		width 29.0625rem
		margin-bottom 3.5rem

	&_arrows
		margin-top 2rem
		width 26.25rem
		margin-bottom 2.875rem


@import '../../blocks/block-title/block-title'
@import '../../blocks/button/button'
@import '../../blocks/arrow/arrow'	
@import '../../blocks/percentage/percentage'
@import '../../blocks/piechart/piechart'