include ../../blocks/block-title/block-title
include ../../blocks/button/button
include ../../blocks/arrow/arrow
include ../../blocks/percentage/percentage
include ../../blocks/piechart/piechart

doctype html
html 
	head
		meta(charset = "UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title UI-Kit
	body
		.wrapper
			+block-title('standard buttons')
			.container.container_buttons
				.container__row
					+button({size: 'small'})
					+button({})
					+button({color: 'orange'})
					+button({color: 'orange', size: 'small'})
				.container__row
					+button({size: 'small'})
					+button({})
					+button({color: 'orange'})
					+button({color: 'orange', size: 'small'})
				.container__row
					+button({size: 'small'})
					+button({})
					+button({color: 'orange'})
					+button({color: 'orange', size: 'small'})
			+block-title('arrow buttons')
			.container.container_arrows
				.container__row
					+arrow({})
					+arrow({direction: 'right'})
					+arrow({disabled:'true'})
					+arrow({direction: 'right', disabled: true})
					+arrow({})
					+arrow({direction: 'right'})
			+block-title('percentages / pie chart')
			.container.container_percentages
				.container__row
					+percentage({percent: 0})
					+percentage({percent: 38})
					+percentage({percent: 62})
					+percentage({percent: 89})
					+piechart([
						{ name: 'Grey', color: '#4eb7a8', value: 1000 },
						{ name: 'Green', color: '#e75735', value: 900},
						{ name: 'Orange', color: '#e5e5e5', value: 800},
						{ name: 'Darkgrey', color: '#4f4f4f', value: 250}
					])
				
				