@import '../../global/global.styl'

.wrapper
	max-width 709px
	margin 5.35rem auto 0 auto
	padding-bottom 6.875rem

.container 
	margin 0 auto
	width 37.125rem
	display flex
	flex-wrap wrap
	justify-content space-between
	align-items flex-start

	&__row
		display flex
		justify-content space-between
		margin-bottom 1.2rem
		flex 1 1 100%
		align-items flex-end
		width 100%
			
		&:last-of-type
			margin-bottom 0

		&_toggles
			width 8.3125rem
			margin 2.1rem auto
			margin-bottom 2.7rem

		&_tickboxes
			width 3.9375rem
			margin 2.0625rem auto
			margin-bottom 5.8rem

		&_profile
			width 16.75rem
			margin 1.6875rem auto
			margin-left 3rem
			
	&__col
		width 50%

	&_buttons
		margin-top 4.4rem
		width 29.0625rem
		margin-bottom 3.8rem

	&_arrows
		margin-top 2.25rem
		width 26.25rem
		margin-bottom 3rem

	&_percentages
		margin-top 1.8rem
		margin-bottom 2.2rem
	
	&_sliders
		margin-top 3rem
		margin-bottom 4rem
	
	&_stages
		margin-top 1.7rem
		margin-bottom 3.7rem
	
	&_form-elements
		margin-top 3.25rem
		margin-bottom 6.3rem

	&_news
		margin-top 2.25rem
		margin-bottom 3.1875rem

	&_map
		margin-top 2.125rem
		margin-bottom 3.1875rem

	&_calenmess
		margin-bottom 3.5rem

	&_video
		margin-top 1.625rem




@import '../../blocks/block-title/block-title'
@import '../../blocks/button/button'
@import '../../blocks/arrow/arrow'	
@import '../../blocks/percentage/percentage'
@import '../../blocks/piechart/piechart'
@import '../../blocks/slider/slider'
@import '../../blocks/feedback-form/feedback-form'	
@import '../../blocks/stages/stages'
@import '../../blocks/toggle/toggle'
@import '../../blocks/tickbox/tickbox'
@import '../../blocks/search/search'
@import '../../blocks/select/select'
@import '../../blocks/profile/profile'
@import '../../blocks/news/news'
@import '../../blocks/event/event'
@import '../../blocks/map/map'
@import '../../blocks/calendar/calendar'
@import '../../blocks/messanger/messanger'
@import '../../blocks/video/video'