.event
	height 13.25rem
	border-radius 0.1875rem
	overflow hidden
	font-size 0.6875rem
	width 18rem
	
	&__image
		height 100%
		float left
		width 33%
		background-image url('images/event.png')

	&__info
		height 100%
		margin-left 33%
		width 67%
		padding 1.35rem
		background _green
		text-align left

	&__data
		margin-bottom 0.65rem
		line-height 2rem
		color #fff

	&__day
		display inline
		font-weight 200
		font-size 4.5625rem

	&__mounth
		font-weight 200
		display inline
		font-size 1.875rem

	&__title
		font-weight 800
		text-transform uppercase
		color #fff
		margin-bottom 0.65rem
	
	&__text
		color #fff

	&__button
		width 100%
		text-align center
		margin-top 1.25rem

		.button
			padding 0.3rem 0.75rem