@import '../stages/stages'
@import '../input/input'
@import '../block-title/block-title'
@import '../textarea/textarea'
@import '../button/button'
@import '../toggle/toggle'

.signup
	width 80%
	height auto
	text-align center
	margin 2rem

	& .block-title
		color yellowgreen

	&__form
		width 28rem
		background-color #fff
		border 0.3rem solid yellowgreen
		border-radius 0.5rem
		padding 1rem 1rem
		margin 2rem auto

	&__input
		width 70%
		margin 1rem 0
		margin-left 10%

	&__textarea
		margin 1rem 10%

	&__toggles
		display flex
		margin 1rem 0
		margin-left 10%

	&__text
		font-weight 800
		font-size 0.8rem
		color yellowgreen
		text-transform uppercase
		line-height 1.5rem
		margin-left 1rem
